body{
    background: linear-gradient(-135deg, #000000, #3f74ac,  #000000 );
}

.desc{
    border-radius: 50px; 
    box-shadow:0 4px 30px rgba(255, 255, 255, 0.564); 
    border: ridge;
    height: 100%;
    background-color:rgba(99, 128, 189, 0.192);
}

.cardHover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardHover:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 255, 55, 0.771);
}
